/* RESET START */

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

/* RESET END */

/* BODY START */

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

/* BODY END */

/* HEADER START */

  header {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 1fr;
  }

header input {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    margin-left: 50px;
  }

  input {
    border-radius: 15px;
    width: 90%;
  }

  header .magnify {
    grid-column: 1;
    grid-row: 1/2;
    justify-self: start;
    align-self: center;
    width: 30px;
    height: 30px;
  }

  header .name {
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: center;
    justify-self: end;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    font-size: 1.5rem;
  }

  header .steven {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: end;
    align-self: center;
    width: 80px;
    height: 80px;
    margin-left: -50px;
  }

  header .bell {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
    justify-self: center;
  }

/* HEADER END */
