/* RESET START */

*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  #root, #__next {
    isolation: isolate;
  }

/* RESET END */

/* PERMANENT STYLES */

:root {
  --link-color: black;
  --link-font: 400 1.2rem Impact;
  --margin-link: 0 20% 0 0;
}

a {
  text-decoration: none;
  color: var(--link-color);
  font: var(--link-font);
}

/* BODY START */

body {
  height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: .6fr repeat(3, 1fr);
    height: 100%;
    background-color: black;
}

.container .content {
  grid-row: 1/3;
  align-items: end;
}

.container header {
  grid-row: 1/3;
  align-items: start;
}

/* BODY END */

/* HEADER START */

  header {
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: .2fr;
    border: 1px solid white;
    height: 200px;
  }

header p {
    color: white;
  }

  header input {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: start;
    margin-top: 3%;
    margin-left: 50px;
  }

  input {
    border-radius: 15px;
    width: 90%;
  }

  header .magnify {
    grid-column: 1;
    grid-row: 1/2;
    justify-self: start;
    align-self: start;
    margin-top: 3%;
    width: 30px;
    height: 30px;
  }

  header .name {
    grid-column: 2/4;
    grid-row: 1/2;
    align-self: start;
    justify-self: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style: bold;
    font-size: 1.3rem;
    margin-right: -25%;
    margin-top: 2.5%;
  }

  header .steven {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
    align-self: start;
    width: 60px;
    height: 60px;
    margin-right: 15%;
    margin-top: 1%;
    border-radius: 50px;
  }

  header .bell {
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: start;
    justify-self: center;
    margin-left: -35%;
    margin-top: 3%;
    width: 25px;
    height: 25px;
  }

  header .steven-2 {
    grid-column: 1/2;
    grid-row: 1/2;
    align-self: end;
    width: 100px;
    height: 95px;
    border-radius: 50px;
    margin-left: 10px;
  }

  header .greeting {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    margin-left: 15%;
    margin-top: 19%;
    align-self: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: medium;
  }

  header .user-handle {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: center;
    align-self: end;
    margin-right: 37%;
    margin-bottom: 3%;
    font-size: 1.5rem;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }


    /* Buttons */

  header .upload {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 110px;
    height: 45px;
    align-self: end;
    border-radius: 50px;
    justify-self: center;
  }

  header .new {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 110px;
    height: 45px;
    align-self: end;
    border-radius: 50px;
    margin-left: 20%;
  }

  header .share {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 110px;
    height: 45px;
    align-self: end;
    justify-self: end;
    border-radius: 50px;
    margin-right: 20%;
  }
/* HEADER END */

/* SIDEBAR START */

.sidebar {
  width: 100%;
  grid-column: 1/2;
  grid-row: 1/3;
  height: 100%;
  justify-self: start;
  background-color: white;
}

.sidebar-content{
  display: grid;
  grid-template-rows: 2fr repeat(7, 1fr) 2fr repeat(3, 1fr);
  gap: 15px;
}

.sidebar-content .logo {
  grid-column: 1/2;
  grid-row: 1;
  margin-left: 10%;
  margin-top: 5%;
  border-radius: 50px;
}

.sidebar-content h1 {
  grid-column: 1/2;
  grid-row: 1;
  justify-self: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-right: 20%;
  margin-top: 5%;;
}

.sidebar .home {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .house {
  grid-row: 3/4;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}

.sidebar .profile {
  grid-row: 4/5;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .user {
  grid-row: 4/5;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}

.sidebar .messages {
  grid-row: 5/6;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .message {
  grid-row: 5/6;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}

.sidebar .history {
  grid-row: 6/7;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .past {
  grid-row: 6/7;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}

.sidebar .tasks {
  grid-row: 7/8;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .task {
  grid-row: 7/8;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}

.sidebar .communities {
  grid-row: 8/9;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .community {
  grid-row: 8/9;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}

.sidebar .settings {
  grid-row: 10/11;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .sett {
  grid-row: 10/11;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}

.sidebar .support {
  grid-row: 11/12;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .supp {
  grid-row: 11/12;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}

.sidebar .privacy {
  grid-row: 12/13;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin: var(--margin-link);
}

.sidebar .private {
  grid-row: 12/13;
  grid-column: 1/2;
  justify-self: center;
  align-self: center;
  margin-right: 70%;
}
/* SIDEBAR END */

/* CONTENT START */

.content {
  display: grid;
  height: 100%;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1.25fr));
  grid-column: 2/5;
}

.content-div {
  /* gap: 25px; */
  height: 100%;
  grid-template-rows: repeat(2, .5fr);
}

.side-color {
  border-radius: 15px 0 0 15px;
}

.content-div .content-title {
  color: white;
  margin-left: 6%;
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: start;
}

.content-div h2 {
  color: white;
}

.card p, h3 {
  color: black;
}

.content .content-div {
  display: grid;
}

.content-div .card {
  height: 150px;
  background-color: white;
  border-radius: 15px;
}

.content-div .announce {
  grid-column: 4/5;
}

.trend p {
  color: white;
}

    /* Favorite Song Card */

.content-div .songs {
  display: grid;
  grid-template-columns: .05fr 1fr;
  grid-column: 1/2;
  grid-row: 1/2;
  width: 100%;
  align-self: end
}

.songs h3 {
  grid-column: 2/3;
}

.songs p {
  grid-column: 2/3;
}

.songs .side-color {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(90, 81, 81);
}

    /* Favorite Instrument Card */

.content-div .instrument {
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 100%;
  align-self: end;
}

.instrument h3, p {
  grid-column: 2/3;
}

.instrument .side-color {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: rgb(90, 81, 81);
}

    /* Favorite Show Card */

.content-div .show {
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  height: 250px;
  width: 400px;
  grid-column: 1/2;
  margin-bottom: 10%;
  grid-row: 2/4;
  align-self: end;
  justify-self: center;
}

.content-div .food {
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  height: 250px;
  width: 400px;
  grid-column: 2/3;
  grid-row: 2/4;
  margin-bottom: 10%;
  align-self: end;
  justify-self: center;
}

.content-div .goal {
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  grid-column: 1/2;
  grid-row: 2/3;
  height: 250px;
  width: 400px;
  justify-self: center;
  align-self: start;
}

.content-div .hobby {
  display: grid;
  grid-template-columns: 0.05fr 1fr;
  grid-column: 2/3;
  grid-row: 2/3;
  align-self: start;
}

.content-div .announce-title {
  grid-column: 4/5;
  grid-row: 1/2;
  justify-self: center;
}

.announce p, h3 {
  color: white;
}

.content-div .announce {
  grid-column: 4/5;
  grid-row: 1/3;
  align-self: center;
}

.content-div hr {
  width: 50%;
  justify-self: center;
}

.content-div .trend-title {
  grid-column: 4/5;
  grid-row: 2/3;
  align-self: end;
}

.content-div .trend {
  grid-column: 4/5;
  grid-row: 3;
  align-self: center;
}
